@font-face {
  font-family: 'FuturaLTBook';
  src: url('FuturaLTBook/FuturaLTBook.eot');
  src: url('FuturaLTBook/FuturaLTBook.eot?#iefix') format('embedded-opentype'),
  url('FuturaLTBook/FuturaLTBook.woff2') format('woff2'),
  url('FuturaLTBook/FuturaLTBook.woff') format('woff'),
  url('FuturaLTBook/FuturaLTBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'FuturaLTBold';
  src: url('FuturaLTBook/FuturaLTBook.eot');
  src: url('FuturaLTBook/FuturaLTBold.eot?#iefix') format('embedded-opentype'),
  url('FuturaLTBook/FuturaLTBold.woff2') format('woff2'),
  url('FuturaLTBook/FuturaLTBold.woff') format('woff'),
  url('FuturaLTBook/FuturaLTBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 
/* prevent font boosting */
html * {max-height:1000000px;}

/* basics */
html {height: 100%; overflow-y: scroll; overflow-x: hidden;}
body {letter-spacing: 1px; color: #3c3c3b; background: #e7e6e1; font-family: 'FuturaLTBook'; font-size: 12px; line-height: 2em; }
.innerbody {max-width: 2000px; margin: 0 auto; background: #f6f5ef; position: relative;}
.h1 {font-size: 20px;}
.h2 {font-size: 12px;}
.verttext {position: absolute; cursor: pointer; 
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform-origin: 0% 0%;
    top: 517px;
    z-index: 50;
    right: calc(5vw - 195px);
}
.home .verttext {top: 755px;}
@media (max-width: 1275px) {
 .verttext {right: -174px;}
}
#scrolltotop {display: none; position: fixed; max-width: 2000px; margin: 0 auto; height: 100%; width: 100%;}
#scrolltotop .verttext {text-decoration: none!important; top: auto; bottom: 28px; position: absolute; right: calc(5vw - 91px);}
#scrolltotop .verttext span {font-size: 150%; position: relative; top: 3px; display: inline-block;}

.blog .blogitems .row > div {padding-top: 45px;}
.blog .blogitems .row:first-child {padding-top: 110px;}
.blog .blogitems h2 {padding-top: 10px; width:100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.blog .blogitems .row:nth-child(odd) div p {padding-left: 70px;}
.blog .blogitems .row:nth-child(even) div p {padding-right: 70px;}
.blog .blogitems div p a {position: relative; top: 2px; text-transform: uppercase;}
@media (max-width: 1200px) {
  .blog .blogitems .row:nth-child(odd) div p {float: left; padding-left: 0px; padding-right: 0px; max-width: 720px;}
  .blog .blogitems .row:nth-child(odd) div {text-align: left!important;}
  .blog .blogitems .row div:nth-child(2) {position: relative; bottom: 23px;}
}

.table {margin-bottom: 0;}
.site-header {position: absolute; width: 100%; z-index: 98; height: 80px;}



/* segment */
.segment {padding: 20px 0;}

/* carousel */
#myCarousel {height: 500px; overflow: hidden; position: relative; bottom: 1px; background: #3c3c3b;}
#myCarousel.single {height: 400px;} 
#myCarousel .item, #myCarousel .item > div {height: 500px;}
#myCarousel .item > div {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.6+0,0+64 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.carousel-control, .carousel-control:focus {background: none!important; opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.carousel-control:hover {opacity: 1;}
.carousel-control img {width: 28px; position: relative; top: 50%; margin-top: -7px;}
.carousel-control.left img {float: left; position: relative; left: calc(5vw - 15px);}
.carousel-control.right img {float: right; position: relative; right: calc(5vw - 15px);}
.landing #myCarousel {display: none;}
.carousel-indicators {bottom: 0px!important; margin-bottom: 9px;}
.carousel-indicators li.active {background: white; margin: 0 9px; width: 6px; height: 6px;}
.carousel-indicators li {margin: 0 9px; border-color: #fff; width: 6px; height: 6px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
.carousel-indicators li:before {content: ""; width: 24px; height: 12px; border: 1px solid white; display: block; position: absolute; margin: -4px 0 0 -10px;}

#myCarousel .overlay {color: white; position: relative; padding: 205px 0 0; width: auto; display: block; max-width: 400px; margin: 0 auto; font-size: 12px; line-height: 1.8em;}
#myCarousel .overlay h3 {font-size: 40px; margin-bottom: 0; padding-bottom: 4px; border: 0; max-width: 100%; text-transform: uppercase; letter-spacing: 1px; font-family: 'FuturaLTBold'; text-transform: uppercase;}
/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #3c3c3b; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* navbar */
.navbar-default {padding-top: 20px; background-color: transparent; border-color: transparent; text-align: center; font-size: 12px;}
.navbar-center {display: inline-block; float: none!important; margin-left: 141px;}
.navbar-nav>li {opacity: 0; padding-left: 2px; padding-right: 2px; position: relative; right: 50px;}
.navbar-nav>li a {color: #3c3c3b!important; padding: 0; margin: 15px 15px 4px 15px;}
.navbar-nav>li.active:after {content: "•"; display: block; position: relative; margin-top: -40px; margin-left: -2px; left: 0%; color: #3c3c3b;}
.navbar-nav>li:nth-child(4) {opacity: 1;}

.navbar-toggle .icon-bar, .navbar-default .navbar-toggle .icon-bar {background: #3c3c3b; height: 1px;}
.navbar-toggle {cursor: pointer; position: absolute; left: calc(5vw - 15px); margin-top: 28px;}

.navbar-toggle {display: block; width: 28px; border: 0; padding: 0; border-radius: 0; margin-top: 38px;}
.navbar-header .navbar-toggle {display: none;}
.navbar-toggle.white {display: none;}
.hascarousel .navbar-toggle {display: none;}
.hascarousel .navbar-toggle.white {display: inline;}
.hascarousel .navbar-header .navbar-toggle.white {display: none;}
@media (max-width: 1200px) {
  .navbar-toggle {display: none;}
  .navbar-header .navbar-toggle {display: block;}
  .navbar-header .navbar-toggle.white {display: none;}
  .hascarousel .navbar-header .navbar-toggle {display: none;}
  .hascarousel .navbar-header .navbar-toggle.white {display: block;}
}

.navbar {border: 0!important;}
.navbar-header {position: absolute;}
.navbar-header::before {display: none;}
.navbar-collapse {border: 0; -webkit-box-shadow: none; box-shadow: none;}
.navbar-nav { margin-top: 0; margin-bottom: 0;}

.navbar-brand {font-size: 12px;}
.navbar-brand img {position: relative; bottom: 18px;}
.navbar-brand img:nth-child(1) {display: none;}
.navbar-brand img:nth-child(2) {display: inline-block;}
.home .navbar-brand img:nth-child(2) {display: none;}
.home .navbar-brand img:nth-child(1) {display: inline-block;}
.offcanvas .navbar-brand img {display: inline-block!important;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background: transparent;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 11px 60px 4px 55px;}
.navbar-default .navbar-nav>li>a {color: #3c3c3b;}
.navbar-default .navbar-toggle {border-color: transparent; margin-right: 0px; float: left;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: transparent;}

.hascarousel .navbar-toggle .icon-bar, .hascarousel .navbar-default .navbar-toggle .icon-bar {background: #fff;}
.hascarousel .navbar-nav>li a {color: white!important;}
.hascarousel .navbar-nav>li.active:after {background: #fff;}

/* offcanvas */
.navmenu-default, .navbar-default .navbar-offcanvas {z-index: 999; background: #3c3c3b; color: #d8d8d1;}
.navmenu-default .navmenu-nav > li > a {color: #eee!important; font-weight: normal; font-size: 16px;}
.navmenu, .navbar-offcanvas {width: 100%; border: 0;}
.navmenu .navbar-brand {height: auto; margin: 17px 0 0 7px!important; float: none; display: block; color: white!important;}
.navmenu ul {padding: 80px 0;}
.navmenu div.table {display: table; height: calc(95vh - 90px); width: 100%;}
.navmenu div.table-cell {display: table-cell; vertical-align: middle;}
.navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas {left: 0!important; right: auto!important; top: 0!important; bottom: auto!important; height: 100%!important;}


/* btn */
.btn {font-size: 15px; border: 1px solid #3c3c3b!important; border-radius: 100px; padding: 5px 25px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  white-space: normal;
}
.contentdiv a.btn {border-radius: 0; padding: 5px 25px!important; text-decoration: none!important;}
.btn-primary {background: #3c3c3b!important; color: #e7e6e1!important;}
.btn-default {color: #3c3c3b!important; background: transparent!important;} 
.btn-primary:hover,
.btn-default:hover {border-color: #3c3c3b!important; background: #3c3c3b!important; color: #e7e6e1!important;}
.btn-warning {border-color: #db7353!important; color: #e7e6e1!important; background: #db7353!important;}

span.btn.btn-default {position: absolute; left: 50%; margin-left: -72px; margin-top: 0px; border-color: #ddd!important; color: #eee!important; background: transparent!important;}
a:hover span.btn.btn-default {margin-top: -18.3%;}
.portfolio span.btn.btn-default {margin-left: -64px;}
.portfolio a:hover span.btn.btn-default {margin-top: -32%;}


/* allerlei */
.contentdiv {padding-top: 160px;}
.hascarousel .contentdiv {padding-top: 0;}
.contentdiv p, .contentdiv ol, .contentdiv ul {margin: 0 auto 2em; line-height: 2em;}
.contentdiv {text-transform: none; font-size: 12px;}
.contentdiv.small {font-size: 12px;}
.contentdiv li {list-style: none; position: relative; right: 20px;}
.contentdiv li:before {content: "•"; display: inline-block; position: relative; right: 5px; bottom: 0px; font-size: 13px; color: #3c3c3b;}
.content {max-width: 550px; margin: 0 auto;}
a {color: #3c3c3b!important;}
.contentdiv p a {text-decoration: underline!important;}
a img, img {display: block; max-width: 100%; border: 0;}
strong, b {font-weight: normal;}
.row.grid {overflow: visible; padding-top: 20px;}
.destinations .row.grid {padding-top: 0; margin-top: 0; position: relative; bottom: 20px;}
.work .masonry {position: relative; bottom: 20px;}
.work p + .masonry {position: relative; bottom: 0px;}
div[class^="col-"] {padding-left: 25px!important; padding-right: 25px!important;}
.text-right p {float: right; clear: both;}
blockquote {line-height: 1.8em; border-left: 5px solid rgba(0,0,0,0.07);}

/* titles */
h1, h2, h3 {font-size: 20px; padding: 17px 0 7px; margin: 0;}
h1 {font-size: 33px; padding-bottom: 15px;}
.contentdiv *:first-child {padding-top: 0;}
.contentdiv > img {max-height: 90vh; display: block; position: relative; top: 6px; margin: 0 auto 30px;}

.post p {margin-bottom: 2em;}
/*.post .maxwidth > p:nth-child(1) {font-size: 150%; line-height: 1.7em; margin-bottom: 1.3em;}*/
.post p a {text-decoration: underline;}
.post p a:hover {text-decoration: none;}
.post .maxwidth > h2, .post .maxwidth > h2 {margin-bottom: 0; margin-top: 2em;}
.post .col-md-10 {text-align: center;}
.post .maxwidth {text-align: left; max-width: 720px; margin: 0 auto;}
.post .maxwidth.center {text-align: center;} 
.post .maxwidth > * {margin-bottom: 2em;}
.post .masonry {margin: 0px -1.5% 0;}

.masonry {margin: 40px -1.5% 0;}
.masonry .image {width: 47%; margin: 0 1.5% 3%; float: left; padding-top: 32%!important;}
.masonry .image.wide {width: 97%; padding-top: 66%!important;}
.masonry .image.portrait {width: 47%; padding-top: 67%!important;}
.masonry .image.right {float: right;}
.masonry .image.portrait.wide {width: 97%; padding-top: 138.2%!important;}

/* isotope items */
.grid .item a > div:first-child {width: 100%; margin: 35px 0 0;}
.grid .item a {color: white!important; text-decoration: none; text-align: center;}
.grid .item a div.workthumb .overlay {padding-top: 68.3%; opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.grid .item a:hover div.workthumb .overlay {opacity: 1; background: rgba(0,0,0,0.3);}
.grid .item a div.workthumb .overlay > div {position: absolute; top: 0; width: calc(100% - 50px);}
.grid .item a div.workthumb .overlay > div > h3 {font-size: 28px; padding-top: 35%; font-family: 'FuturaLTBold'; text-transform: uppercase; padding-bottom: 2px;}
.grid .item a div.workthumb.portrait .overlay {padding-top: 143%;}
.grid .item a div.workthumb.portrait .overlay > div > h3 {padding-top: 72%;}
.grid .item .compass {width: 20px; margin: 20px auto 0;}

.workshop h2 {line-height: 1.6em; margin-bottom: 1.4em;}
.workshop h3 + .lightbox-image {margin: 10px 0 0;}

/* footer */
footer {clear: both; padding: 45px 0 25px; width: 100%; bottom: 0;}
footer img {cursor: pointer; display: inline-block; width: 35px; position: relative; bottom: 2px; right: 4px;}

#createdby {position: absolute; right: 25px; padding-top: 18px;}

@media (max-height: 600px) {
  .navmenu ul {padding: 20px 0;}
}
@media (max-width: 1200px) {
.collapse {display: block;}
.collapse .navbar-nav>li {display: none;}
.collapse .navbar-center {margin-left: -12px;}
.collapse .navbar-nav>li:nth-child(4) {display: block;}
.navbar-toggle {position: relative; bottom: 21px;}
.navbar-toggle.top {display: none!important;}
.navbar-nav>li {right: 0px; left: 4px;}
.navbar-toggle {left: 25px;}
.carousel-control.left img {left: 25px;}
.carousel-control.right img {right: 25px;}
.grid .item a div.workthumb .overlay > div > h3 {padding-top: 30%;}
}
@media (max-width: 600px) {
  .grid .item a div.workthumb .overlay {opacity: 1; background: rgba(0,0,0,0.15);}
  .grid .item a div.workthumb .overlay > div > h3 {padding-top: 27%;}
  #createdby {right: auto; width: calc(100% - 50px); text-align: center; padding: 0; margin-top: 70px;}
  footer {padding: 45px 0 45px;}
}
@media (max-width: 400px) {
  .grid .item a div.workthumb .overlay > div > h3 {padding-top: 23%;}
}
@media (max-width: 1199px) and (min-width: 601px) {
  body .col-sm-6 {width: 50%; float: left;}
  .grid .item a div.workthumb .overlay > div > h3 {
    padding-top: calc(21px + 30%);
  }
}
