<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for item in page.headers %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index == 1 %}active{% endif %}"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for item in page.headers %}
    <div class="item{% if forloop.index == 1 %} active{% endif %}">
      <div style="background: url({{ item.image }}) center bottom; background-size: cover; cursor: pointer;" onclick="window.location.href='{{ item.url }}';">
        <div class="overlay text-center">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>