<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for item in page.headers %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index == 1 %}active{% endif %}"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for item in page.headers %}
    <div class="item{% if forloop.index == 1 %} active{% endif %}" style="background: url({{ item.portrait-image | replace: ' ','%20' }}) center center; background-size: cover;" mobile-style="background: url({{ item.portrait_image | replace: ' ','%20' }}) center center; background-size: cover;" desktop-style="background: url({{ item.image | replace: ' ','%20' }}) center center; background-size: cover;">
      <div onclick="window.location.href='{{ item.url }}';" style="cursor: pointer;">
        <div class="overlay text-center">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <img class="prev" src="/img/left_white.svg" />
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <img class="next" src="/img/right_white.svg" />
  </a>
</div>