    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/js/combined.js" | prepend: site.baseurl }}"></script>
    
    <script>
    //open external links in a new window
    function externalLinks() {
      for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
        var b = c[a];
        b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
      }
    }
    externalLinks();

    $(".maxwidth p img").unwrap();

    </script>

    {% include lightbox.html %}
    {% include lazyload.html %}