<footer>
<div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div id="createdby"><a href="https://www.omelettedufromage.nl" target="_blank">website by Omelette Du Fromage </a></div>
            <img src="/img/instagramfooter.svg" onclick="window.open('https://www.instagram.com/pie_aerts/');" /> <a href="mailto:info@pieaerts.com" target="_blank">info@pieaerts.com</a>
          </div>  
        </div>
      </div>
</div>
</footer>


{% include foot.html %}