<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-593ZLTK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> 

{% for item in page.headers %}
<img src="{{ item.image }}" style="opacity: 0; position: absolute; z-index: -100; pointer-events: none;" />
{% endfor %}

<div class="verttext" onclick="window.open('https://www.instagram.com/pie_aerts/');">Follow Pie Aerts on &bull; Instagram</div>
<div id="scrolltotop"><a class="verttext" href="#top">scroll to top <span>&rarr;</span></a></div>

            <img src="/img/openmenu.svg" class="top navbar-toggle" style="z-index: 99;" />
            <img src="/img/openmenu_white.svg" class="top navbar-toggle white" style="z-index: 99;" />


<header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container">


          <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
            <a class="navbar-brand" href="/">PIE AERTS</a>
            <div class="table">
              <div class="table-cell">
                <ul class="nav navmenu-nav">
                  <li><a href="/personal-work/">Personal work</a></li>
                  <li><a href="/blog/">Journal</a></li>
                  <!--<li><a href="/blog/">Commissioned</a></li>-->
                  <li><a href="/about/">About</a></li>
                  <li><a href="http://shop.pieaerts.com/collections/">Prints & Books</a></li>
                  <li><a href="/masterclass/">Masterclasses & Expeditions</a></li>
                  <!--<li><a href="/weddings/">Weddings</a></li>-->
                  
                </ul>
              </div>
            </div>
          </div>


          <div class="navbar-header">
            <img id="toggle_nav" src="/img/openmenu.svg" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" style="" />
            <img id="toggle_nav_white" src="/img/openmenu_white.svg" class="navbar-toggle white" data-toggle="offcanvas" data-target=".navmenu" style="" />
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
              <li{% if page.url contains 'personal-work' %} class="active"{% endif %}><a href="/personal-work/">Personal work</a></li>
              <li{% if page.layout == 'blog' or page.layout == 'post' %} class="active"{% endif %}><a href="/blog/">Journal</a></li>
              <!--<li{% if page.layout == 'blog' or page.layout == 'post' %} class="active"{% endif %}><a href="/blog/">Commissioned</a></li>-->
              <li{% if page.url == '/about/' %} class="active"{% endif %}><a href="/about/">About</a></li>
              <li><a class="navbar-brand" href="/">PIE AERTS</a></li>
              <li><a href="http://shop.pieaerts.com/collections/">Prints & Books</a></li>
              <li{% if page.url contains '/masterclass' %} class="active"{% endif %}><a href="/masterclass/">Masterclasses & Expeditions</a></li>
              <!--<li{% if page.url contains 'weddings' %} class="active"{% endif %}><a href="/weddings/">Weddings</a></li>-->

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
</header>
{% if page.layout == 'home' %}{% include carousel.html %}{% endif %}
