<div class="container">
  <div class="row">
    <div class="col-md-12">
            <button type="button" class="top navbar-toggle" style="display: block; z-index: 99;">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
    </div>
  </div>
</div>

<header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container">


          <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
                <a class="navbar-brand" href="/"><span>Pie Aerts</span> &nbsp;&nbsp;&bull;&nbsp;&nbsp; photography</a>
                <ul class="nav navmenu-nav">
                        <li><a href="/portfolio/destinations/">Destinations</a></li>
                        <li><a href="/portfolio/people-portraits/">People & Portraits</a></li>
                        <li><a href="/portfolio/citylife/">City Life</a></li>
                        <li><a href="/gear/">Gear</a></li>
                        <li><a href="/blog/">Blog</a></li>         
                        <li><a href="/prints/">Prints</a></li>
                        <li><a href="/about/">About</a></li>
                </ul>
          </div>


          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
              <li{% if page.layout == 'destinations' %} class="active"{% endif %}><a href="/portfolio/destinations/">Destinations</a></li>
              <li{% if page.layout == 'people-and-portraits' %} class="active"{% endif %}><a href="/portfolio/people-and-portraits/">People & Portraits</a></li>
              <li{% if page.layout == 'city-life' %} class="active"{% endif %}><a href="/portfolio/city-life/">City Life</a></li>
              <li><a class="navbar-brand" href="/"><span>Pie Aerts</span> <span style="position: relative; top: 2px; font-size: 13px;">&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> photography</a></li>
              <li><a href="/gear/">Gear</a></li>
              <li><a href="/blog/">Blog</a></li>         
              <li><a href="/prints/">Prints</a></li>
              <li><a href="/about/">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
</header>
{% if page.layout == 'home' or page.layout == 'destinations' or page.layout == 'people-and-portraits' or page.layout == 'city-life' %}{% include carousel.html %}{% endif %}
