<div class="verttext" onclick="window.open('https://www.instagram.com/pie_aerts/');">Follow Pie Aerts on &bull; Instagram</div>
<div id="scrolltotop"><a class="verttext" href="#top">scroll to top <span>&rarr;</span></a></div>

            <img src="/img/openmenu.svg" class="top navbar-toggle" style="z-index: 99;" />
            <img src="/img/openmenu_white.svg" class="top navbar-toggle white" style="z-index: 99;" />


<header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container">


          <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
                <a class="navbar-brand" href="/">PIE AERTS</a>
                <div class="table">
                  <div class="table-cell">
                <ul class="nav navmenu-nav">
                        <li><a href="/destinations/">Destinations</a></li>
                        <li><a href="/24-hours-in/">24 hours in</a></li>
                        <li><a href="/blog/">Blog</a></li>      
                        <li><a href="/weddings/">Weddings</a></li>
                        <li><a href="http://shop.pieaerts.com/collections/">Prints</a></li>
                        <li><a href="/workshops/">Workshops</a></li>
                        <li><a href="/about/">About</a></li>
                </ul>
                </div>
                </div>
          </div>


          <div class="navbar-header">
            <img src="/img/openmenu.svg" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" style="" />
            <img src="/img/openmenu_white.svg" class="navbar-toggle white" data-toggle="offcanvas" data-target=".navmenu" style="" />
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
              <li{% if page.url contains 'destinations' %} class="active"{% endif %}><a href="/destinations/">Destinations</a></li>
              <li{% if page.url contains '24-hours-in' %} class="active"{% endif %}><a href="/24-hours-in/">24 hours in</a></li>
              <li{% if page.layout == 'blog' or page.layout == 'post' %} class="active"{% endif %}><a href="/blog/">Blog</a></li>   
              <li><a class="navbar-brand" href="/">PIE AERTS</a></li>
              <li{% if page.url contains 'weddings' %} class="active"{% endif %}><a href="/weddings/">Weddings</a></li>
              <li><a href="http://shop.pieaerts.com/collections/">Prints</a></li>
              <li{% if page.url contains '/workshop' %} class="active"{% endif %}><a href="/workshops/">Workshops</a></li>
              <li{% if page.url == '/about/' %} class="active"{% endif %}><a href="/about/">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
</header>
{% if page.layout == 'home' %}{% include carousel.html %}{% endif %}
