<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="lightbox" id="top" onclick="window.location.href='/people-and-portraits/';">
    <div class="table"><div class="table-cell">

          <div class="item portrait" style="background: url({{ page.image }}) center center no-repeat; background-size: cover;">
            <div class="image" style="">
              <div class="overlay">
                  <div>
                      <h1>{{ page.title }}</h1>
                      <h2>{{ page.subtitle }}</h2>
                  </div>
              </div>
            </div>
          </div>

    </div></div>
    {% include footer.html %}
  </body>

</html>
