<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="lightbox" id="top">
    <div class="table"><div class="table-cell">
          <img class="close" src="/img/close.svg" onclick="window.location.href='/people-and-portraits/';" />
          <img class="close white" src="/img/close_white.svg" onclick="window.location.href='/people-and-portraits/';" />
          <img class="next" src="/img/right.svg" />
          <img class="prev" src="/img/left.svg" />
          <div class="item portrait" style="background: url({{ page.image }}) center center no-repeat; background-size: cover;">
            <div class="image" style="">
              <div class="overlay">
                  <div class="{{ page.text-color }}">
                      <h1 class="h1">{{ page.title }}</h1>
                      <h2 class="h2">{{ page.subtitle }}</h2>
                  </div>
              </div>
            </div>
          </div>

    </div></div>
    {% include footer.html %}
  </body>

</html>
