<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="lightbox" id="top" onclick="window.location.href='/city-life/';">
    <div class="table"><div class="table-cell">

          <div class="item {% if page.portrait == true %}portrait{% endif %}" style="background: url({{ page.image }}) center center no-repeat; background-size: cover;">
            <div class="image portrait" style="">
              <div class="overlay">
                  <div>
                      <h1 class="h1">{{ page.title }}</h1>
                      <h2 class="h2">{{ page.subtitle }}</h2>
                  </div>
              </div>
            </div>
          </div>

    </div></div>
    {% include footer.html %}
  </body>

</html>
