<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page" id="top" oncontextmenu="{% include copyright.html %}"><div class="innerbody">
    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 contentdiv text-center">
                <h1>{{ page.title }}</h1>
                
                {{ page.introduction_html }}
                
                <ul>
                {% assign sitemasterclasses = site.masterclasses | sort: 'starting_date' %}
                {% for item in sitemasterclasses %}
                    <li>
                        {% if item.active %}
                            <a href="{{ item.url }}" style="text-decoration: underline;">{{ item.title }}</a>
                        {% else %}
                            {{ item.title }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <br />

                {{ content }}   

            </div>
        </div>
   </div>

    {% include footer.html %}
</div></body>

</html>
