<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home" id="top">
    {% include header.html %}
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 contentdiv text-center">
                <h1>{{ page.title }}</h1>
                
                {{ content }}   

                <div class="masonry">
                {% for item in site.people-and-portraits %}
                    <div style="cursor: pointer; background: url('{{ item.image }}'); background-size: cover;" class="image{% if page.float == 'right' %} right{% endif %}{% if item.portrait == true %} portrait{% endif %}{% if item.wide == true %} wide{% endif %}" onclick="window.location.href='{{ item.url }}';" ></div>
                {% endfor %}
                </div>
            </div>
        </div>
   </div>

    
    {% include footer.html %}
  </body>

</html>
