<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="post" id="top" noncontextmenu="{% include copyright.html %}"><div class="innerbody">
    {% include header.html %}

    <div class="container">

        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div style="margin: 145px 0 0;" ></div>
                <h1>{{ page.title }}</h1>
                <p style="margin-bottom: 4em;">{{ page.date  | date: "%b %d, %Y" }}</p>
                <div class="maxwidth">
                    {{ content }}
                </div>
                <div class="maxwidth center">
                    {% if page.footer_html %}<div style="margin-bottom: 4em;">{{ page.footer_html }}</div>{% endif %}
                    
                    <p>{% if page.location %}Location: {{ page.location }}<br />{% endif %}
                        Author: Pie Aerts</p>
                </div>
            </div>
          
        </div>

    </div>



    {% include footer.html %}
</div></body>

</html>
