<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="destinations" id="top" oncontextmenu="javascript:alert('&copy; Copyright Pie Aerts. Please do not use any of the images on this website without explicit authorization from the copyright owner. Copyright infringement penalties can be up to $150,000.'); return false;"><div class="innerbody">
    {% include header.html %}
    
    <div class="container">
    	<div class="row">

            <div class="col-xs-12 contentdiv text-center">
                <h1>{{ page.title }}</h1>
                
                {{ content }}   

            </div>
        </div>
        <div class="row grid"> 
    		{% assign sitework = site.weddings | sort: 'date' | reverse %}
            {% for work in sitework %}
            {% unless page.url == '/weddings/' and work.title == 'Matthijs & Romee' %}
                <div class="col-md-4 col-sm-6">
                <div class="item"><a href="{{ work.url }}">
                    <div class="workthumb" style="background: url(//images.weserv.nl/?url={{ site.url | replace: 'http://', '' | replace: 'https://', '' }}{{ work.image | replace: ' ','%20' }}&w=800&q=50) center center no-repeat; background-size: cover;">
                        <div class="overlay hastext">
                            <div class="{{ work.text-color }}">
                                <h3>{{ work.title }}</h3>
                                <span>{{ work.subtitle }}</span>
                                <!--<img src="/img/compass.svg" class="compass" />-->
                            </div>
                        </div>
                    </div>

                </a></div>     
                </div>
            {% endunless %}
            {% endfor %}
    	</div>

    </div>

    
    {% include footer.html %}
  </div></body>

</html>
