<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="workshop" id="top"><div class="innerbody">
    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 contentdiv text-left">

                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
                
                {{ page.introduction_html }}

                <p><a href="{{ page.subscribe_url }}" class="btn btn-default">{{ page.subscribe_text }}</a></p>
                <br />

                {{ content }}

                <br />
                <p><a href="{{ page.subscribe_url }}" class="btn btn-default">{{ page. }}</a></p>
                <br />
                {% include image-gallery.html folder=page.gallery_url %}

            </div>
        </div>
    </div>


  {% include footer.html %}
</div></body>

</html>
