<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="work" id="top" oncontextmenu="javascript:alert('&copy; Copyright Pie Aerts. Please do not use any of the images on this website without explicit authorization from the copyright owner. Copyright infringement penalties can be up to $150,000.'); return false;"><div class="innerbody">
    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 contentdiv text-center">

                <h1>{{ page.title }}</h1>
                {{ content }}
                <div class="masonry">
                {% for item in page.images %}
                    <a href="{{ item.image }}" style="cursor: pointer; background: rgba(0,0,0,0.1) url('/img/blank.png') center center no-repeat; background-size: cover;" class="image{% if page.float == 'right' %} right{% endif %}{% if item.portrait == true %} portrait{% endif %}{% if item.wide == true %} wide{% endif %}" data-echo-background="{{ item.image | replace: ' ','%20' }}"></a>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>


  {% include footer.html %}
</div></body>

</html>
